

/* Dashboard.css */
.dashboard {
    transition: var(--dashboard-transition);
    overflow-y: auto; 
    background-color: var(--grid-layout-background-color);
    height: 100vh; 
}

.dashboard.sidebarExpanded {
    margin-left: var(--expanded-sidebar-width); /* When the sidebar is expanded */
}

.dashboard.sidebarCollapsed {
    margin-left: var(--collapsed-sidebar-width); /* When the sidebar is collapsed */
}