/* Sidebar with dynamic height */
.sidebar {
  height: calc(100% - 60px); /* Subtract header height from 100% */
  width: var(--expanded-sidebar-width); 
  position: fixed;
  top: 60px; /* Start below the header */
  left: 0;
  background-color: var(--global-background-color); /* Maintain background color */
  padding-top: 0px;
  transition: width 0.7s ease; /* Smooth transition */
  overflow: hidden; /* Prevent content overflow when collapsed */
  opacity: 1; /* Ensure no opacity issues */
  box-shadow: none; /* Ensure no shadow is applied */
}

/* Sidebar when collapsed */
.collapsed {
  height: calc(100% - 60px); /* Subtract header height from 100% */
  width: var(--collapsed-sidebar-width); 
  position: fixed;
  top: 60px; /* Start below the header */
  left: 0;
  background-color: var(--global-background-color); /* Maintain background color */
  padding-top: 0px;
  transition: width 0.7s ease; /* Smooth transition */
  overflow: hidden; /* Prevent content overflow when collapsed */
  opacity: 1; /* Ensure no opacity issues */
  box-shadow: none; /* Ensure no shadow is applied */
}

.panelIconContainer {
  display: flex;
  justify-content: left;
  align-items: center;
  height: 40px;
  width: 40px;
  border-radius: 20px;
  margin-bottom: 20px;
}

/* Panel icon */
.panelIcon {
  display: flex;
  margin-right: 10px;
  margin-left: 8px;
  cursor: pointer;  
}

.panelIconContainer:hover {
  background-color: hsla(243, 89%, 67%, 0.306);
}

.panelIcon:active {
  /* background-color: hsla(243, 89%, 67%, 0.306);   */
  transform: scale(1.1); 
} 

.topicIconContainerBig {
  display: flex;
  justify-content: left;
  align-items: center;
  background-color: hsla(243, 89%, 67%, 0.306);
  border-radius: 20px;
  height: 40px;
  margin-bottom: 20px;
  margin-right: 10px;
}

.topicIconContainerSmall {
  display: flex;
  justify-content: left;
  align-items: center;
  background-color: hsla(243, 89%, 67%, 0.306);
  border-radius: 20px;
  height: 40px;
  margin-bottom: 20px;
}

.topicIcon {
  display: flex;
  margin-right: 10px;
  margin-left: 8px;
  cursor: pointer;
}

.topicIconContainerSmall:hover,
.topicIconContainerBig:hover
 {
  background-color: #2d2dbf79;
} 

.topicIconTextShow {
  display: inline;
  white-space: nowrap;
  color: white;
  cursor: pointer;
}

.topicIconTextHide {
  display: none;
}

.linkContainer {
  background-color: hsla(243, 89%, 67%, 0.306);
  border-radius: 20px;
}

.linkContainerBig {
  background-color: hsla(243, 89%, 67%, 0.306);
  border-radius: 20px;
  margin-right: 10px;
}

/* Sidebar links */
.link {
  display: flex;
  align-items: center; /* Center items vertically */
  padding: 15px 8px;
  text-decoration: none;
  color: white;
  transition: all 0.3s ease; /* Smooth transition */
  white-space: nowrap; /* Prevent text from wrapping */
  overflow: hidden; /* Prevent overflow */
  text-overflow: ellipsis; /* Show ellipsis if text is too long */
  height: 40px;
  border-radius: 19px;
}

/* Icon styling */
.icon {
  display: flex;
  margin-right: 10px; /* Space between icon and text */
  align-items: center;
  cursor: pointer;
}

/* Show or hide text based on collapsed state */
.hidden {
  display: none; /* Hide the text */
}

.visible {
  display: inline; /* Show the text */
  cursor: pointer;
  color: white;
}

/* Hover effect on links */
.link:hover {
  background-color: #2d2dbf79;
}

