/* 
globals.css 

Global CSS constants are stored here

*/

:root {
    --global-background-color: #01010F;
    --grid-layout-background-color: rgba(50, 150, 300, 0.2);
    --dashboard-transition: margin-left 0.7s ease;
    --global-font-family: Arial, sans-serif;
    --global-white-color: white;
    --global-button-color: #3F72FE;
    --global-button-hover-color:  #A0B8FE;
    --header-height: 60px;
    --expanded-sidebar-width: 150px;
    --collapsed-sidebar-width: 40px;
}
